## Required libraries for Bike Rental Data Analysis

# Data manipulation and analysis
pandas==1.5.3
numpy==1.24.2

# Data visualization
matplotlib==3.7.1
seaborn==0.12.2

# Statistical analysis
scipy==1.10.1

# For developing interactive web applications
streamlit==1.22.0

# Optional: For using Jupyter Notebooks
jupyter==1.0.0

# Optional: For working in virtual environments
pipenv==2023.4.9

